.first_title {
	color: red;
}

.ligne {
	color: blue;
}

.linkedin_acc_url {
	color: grey;
}

site-search {
	color: white;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}